/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px

future update to get it even more responsive

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f8f8f8;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f7f7f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777777;
  border-radius: .2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-moz-selection {
  color: #1F1F1F;
  background: #f0f0f0;
}

::selection {
  color: black;
  background: #889efd25;
}

h1 {
  font-size: 5.8rem;
}

.title {
  line-height: 8rem;
}

.title span {
  font-family: 'Salsa', cursive;
}

h1, h3 {
  font-family: 'Maitree', serif;
  color: #1F1F1F;
  font-weight: 300;
}

h2 {
  font-family: 'Salsa', cursive;
  font-size: 2rem;
  color: #777777;
}

h3 {
  font-size: 3.2rem;
}

p, a {
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  color: #777777;
  text-decoration: none;
}

a {
  padding: 1rem 0;
}

a:hover {
  color: #1F1F1F;
}

.skills-container span {
  font-family: 'Maitree', serif;
  font-size: 3.2rem;
  font-weight: 300;
  color: #1F1F1F;
}

ul, li {
  list-style: none;
  gap: 8.4rem;
}

.about {
  margin: 18.5rem 16.3rem 0rem 16.3rem;
  scroll-margin-top: 7rem;
}

.about .about-container .text {
  min-width: 40%;
  margin-top: 3.2rem;
}

@media (max-width: 75em) {
  .about {
    margin: 18.5rem 1.6rem 0rem 1.6rem;
  }
}

@media (max-width: 37.5em) {
  .about {
    margin: 0rem 1.6rem 0rem 1.6rem;
  }
}

.contact {
  margin: 18.5rem 16.3rem 18.5rem 16.3rem;
}

.contact .contact-container {
  margin-top: 4rem;
}

.contact .contact-container .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 4rem;
}

@media (max-width: 75em) {
  .contact {
    margin: 18.5rem 1.6rem;
  }
}

@media (max-width: 600px) {
  .contact {
    margin: 18.5rem 1.6rem;
  }
}

header {
  background: rgba(248, 248, 248, 0.692);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  width: 100vw;
  margin: 0 auto;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 45px 0px rgba(233, 233, 233, 0.288);
          box-shadow: 0px 0px 45px 0px rgba(233, 233, 233, 0.288);
}

header .nav-container {
  width: 100%;
  height: 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 58%;
}

header .nav-container .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 56.25em) {
  header {
    display: none;
  }
}

main {
  width: 100vw;
  height: 60rem;
}

main .text-container {
  margin: 18.5rem 16.3rem;
  width: 90%;
}

main .text-container .title {
  width: 50%;
}

main .text-container .description {
  margin-top: 4rem;
  width: 60%;
  overflow: hidden;
}

main .text-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8.4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

@media (max-width: 75em) {
  main {
    margin-top: -10rem;
    margin-bottom: 12rem;
  }
  main .text-container {
    margin: 18.5rem 1.6rem;
  }
  main .text-container .title {
    width: 98%;
  }
  main .text-container .description {
    width: 90%;
  }
  main .text-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 4rem;
    margin-top: 4rem;
  }
}

.skills {
  margin: 18.5rem 16.3rem;
}

.skills .skills-container {
  margin-top: 3.2rem;
}

@media (max-width: 75em) {
  .skills {
    width: 90%;
    margin: 18.5rem 1.6rem;
  }
}

.work {
  margin: 4rem 16.3rem 0rem 16.3rem;
  opacity: a0;
  scroll-margin-top: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work .project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12rem;
  margin-top: 4rem;
}

.work .project-container .project-info {
  width: 80%;
}

.work .project-container .project-info .project-description {
  margin-top: 3.2rem;
}

.work .project-container .project-image img {
  width: 58rem;
}

@media (max-width: 75em) {
  .work {
    margin: 0rem 1.6rem 18.5rem 1.6rem;
  }
  .work .project-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3.2rem;
  }
  .work .project-container .project-info {
    width: 80%;
  }
  .work .project-container .project-info .project-description {
    margin-top: 2px;
  }
  .work .project-container .project-image {
    width: 98%;
  }
  .work .project-container .project-image img {
    width: 98%;
  }
}
/*# sourceMappingURL=main.css.map */