.contact {
  margin: 18.5rem 16.3rem 18.5rem 16.3rem;

  .contact-container {
    margin-top: $margin-small;

    .social-media {
      display: flex;
      flex-wrap: wrap;
      margin-top: $margin-small;
    }
  }
}

@media (max-width: 75em) {  
  .contact {
    margin: 18.5rem 1.6rem;

  }

}

@media (max-width: 600px) {  
  .contact {
    margin: 18.5rem 1.6rem;
  }
}
