.work {
  margin: -20rem 12vw 10rem 12vw;
  display: flex;
  flex-direction: column;

  .project-container {
    display: flex;
    gap: $margin-medium;
    margin-top: $margin-small;

    .project-info {
      min-width: 32%;

      .project-description {
        margin-top: $margin-extra-small;
      }

    }

    .project-image {
      img {
        height: 34rem;
        cursor: pointer;
      }
    }
  }
}


