//COLORS
$background: #f8f8f8;
$text-dark: #1F1F1F;
$text-light: #777777;

//SPACING
$margin-big: 16rem;
$margin-medium: 12rem;
$margin-small: 4rem;
$margin-extra-small: 3.2rem;
$margin-link-desktop: 8.4rem;

//SPACING FOR MOBILE
$margin-big-mobile: 16rem;
$margin-medium-mobile: 12rem;
$margin-small-mobile: 4rem;
$margin-extra-small-mobile: 3.2rem;
$margin-link-mobile: 0.1rem;

//FONT
$big: 5.8rem;
$medium: 3.2rem;
$small: 2rem;

//FONT FOR MOBILE
$big-mobile: 4.8rem;
$medium-mobile: 1.8rem;
$small-mobile: 1.6rem;
